[submodule "Tools/GenSMBIOS"]
	path = Tools/GenSMBIOS
	url = git@github.com:corpnewt/GenSMBIOS.git
[submodule "Tools/ProperTree"]
	path = Tools/ProperTree
	url = git@github.com:corpnewt/ProperTree.git
[submodule "Tools/MaciASL"]
	path = Tools/MaciASL
	url = git@github.com:acidanthera/MaciASL.git
[submodule "Tools/gibMacOS"]
	path = Tools/gibMacOS
	url = git@github.com:corpnewt/gibMacOS.git
